In [2]:
from pymongo import MongoClient
import pandas as pd
import time

In [3]:
try:
    start = time.time()
    # Connexion à MongoDB
    client = MongoClient("mongodb://localhost:27017/")
    db = client["pradel"]
    movies = db["movie"]
    users = db["user"]
    end = time.time()
    print('Connecté à la bdd en:' + str(end - start))
except:
    print("erreur de la connection mongo")
    # raise HTTPException(status_code=500)

Connecté à la bdd en:0.021998167037963867

In [11]:
# recuperer les infos sur un utilisateur  sous forme de dict

def info_user (_id):

    user_info=dict(users.find_one({'_id':_id}))
    user_id=user_info['_id']
    rated=user_info['movies']

    newlines=[]

    for r in rated : 
        newline={

            'movie': r['movieid'],

            'user':user_id,

            'timestamp':r['timestamp'],

            'rating': r['rating']

        }

        newlines+=[newline]
       
    return newlines

In [12]:
line=[]

for user in users.find({}):

    _id=dict(user)['_id']
    line+=info_user(_id)

In [13]:
pd.DataFrame.from_records(line).sort_values('timestamp',axis=0).reset_index(drop=True)

         movie  user   timestamp  rating
0          858  6040   956703932       4
1         2384  6040   956703954       4
2          593  6040   956703954       5
3         2019  6040   956703977       5
4         1961  6040   956703977       4
...        ...   ...         ...     ...
1000204   2399  4958  1046454338       1
1000205   1407  4958  1046454443       5
1000206   3264  4958  1046454548       4
1000207   2634  4958  1046454548       3
1000208   1924  4958  1046454590       4

[1000209 rows x 4 columns]

In [15]:
pd.DataFrame.from_records(line).sort_values('timestamp',axis=0).reset_index(drop=True).to_csv('matrice_avis_utilisateur.csv',index=False)